.inner{
    background-color: #3789DC;
    border:1px dashed black;
}
.outer{
    background-color: #3D99F5;
    padding:0.8rem;
}
.textarea{
    color:white;
    padding-bottom: 2rem;
}
.buttoncolor{
    background-color: white;
}
.image{
    padding-top: 1.5rem;
}