.inner{
    background-color: #3789DC;
    border:1px dashed black;
}
.outer{
    background-color: #3D99F5;
    padding:0.8rem;
}
.textarea{
    color:white;
    padding-bottom: 2rem;
}
.buttoncolor{
    background-color: white;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 0.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: 0.3rem;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #F0F5F4;
}

.image{
    padding-top: 1.5rem;
}