.navbar_border{
    border-bottom: 1px solid gray;
}
.navbarset{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
}

.divider {
    border-left: 1px solid black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    // padding-top: 1rem;
    padding-bottom: 0.9rem;
}
.NavItem{
    margin: 0.5rem;
    color: black;
}
.NavLink{
    color: black;
}