@media only screen and (min-width: 768px) {
   
.head{
    font-weight: bold;
    text-align: start;
}
.link{
    text-align: start;
}
.divider{
    border-bottom: 1px solid grey;
}
.appdown{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}

@media only screen and (max-width: 767px) {
    .main{
       
    .head{
        font-weight: bold;
    }
    .divider{
        border-bottom: 1px solid grey;
    }
    .appdown{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
   
}
